swagger: '2.0'
info:
  version: '0.9.0'
  title: Meraki Dashboard API
  description: >
    The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.


    > Date: 04 March, 2020

    >

    > [What's New](https://meraki.io/whats-new/)


    ---


    [API Documentation](https://meraki.io/api)


    [Community Support](https://meraki.io/community)


    [Meraki Homepage](https://www.meraki.com)
  contact: {}
host: api.meraki.com
basePath: /api/v0
securityDefinitions:
  Cisco-Meraki-API-Key:
    type: apiKey
    name: X-Cisco-Meraki-API-Key
    in: header
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /organizations/{organizationId}/apiRequests:
    get:
      description: List the API requests made by an organization
      summary: getOrganizationApiRequests
      tags:
      - API usage
      operationId: getOrganizationApiRequests
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: t0
        in: query
        required: false
        type: string
        description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
      - name: t1
        in: query
        required: false
        type: string
        description: The end of the timespan for the data. t1 can be a maximum of 31 days after t0.
      - name: timespan
        in: query
        required: false
        type: number
        format: double
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 31 days.
      - name: perPage
        in: query
        required: false
        type: integer
        format: int32
        description: The number of entries per page returned. Acceptable range is 3 - 1000. Default is 50.
      - name: startingAfter
        in: query
        required: false
        type: string
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
      - name: endingBefore
        in: query
        required: false
        type: string
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
      - name: adminId
        in: query
        required: false
        type: string
        description: Filter the results by the ID of the admin who made the API requests
      - name: path
        in: query
        required: false
        type: string
        description: Filter the results by the path of the API requests
      - name: method
        in: query
        required: false
        type: string
        description: Filter the results by the method of the API requests (must be 'GET', 'PUT', 'POST' or 'DELETE')
      - name: responseCode
        in: query
        required: false
        type: integer
        format: int32
        description: Filter the results by the response code of the API requests
      - name: sourceIp
        in: query
        required: false
        type: string
        description: Filter the results by the IP address of the originating API request
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "adminId": "212406",

                  "method": "GET",

                  "host": "api.meraki.com",

                  "path": "/api/v0/organizations/33349/apiRequests",

                  "queryString": "timespan=604800",

                  "userAgent": "PostmanRuntime/7.6.0",

                  "ts": "2019-02-20T17:31:23Z",

                  "responseCode": 200,

                  "sourceIp": "123.123.123.1"

                }

              ]
          headers: {}
  /organizations/{organizationId}/apiRequests/overview:
    get:
      description: Return an aggregated overview of API requests data
      summary: getOrganizationApiRequestsOverview
      tags:
      - API usage
      operationId: getOrganizationApiRequestsOverview
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: t0
        in: query
        required: false
        type: string
        description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
      - name: t1
        in: query
        required: false
        type: string
        description: The end of the timespan for the data. t1 can be a maximum of 31 days after t0.
      - name: timespan
        in: query
        required: false
        type: number
        format: double
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 31 days.
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "responseCodeCounts": {

                  "200": 50000,

                  "201": 4000,

                  "204": 1000,

                  "400": 3500,

                  "404": 1500,

                  "429": 10000

                }

              }
          headers: {}
  /organizations/{organizationId}/actionBatches:
    post:
      description: Create an action batch
      summary: createOrganizationActionBatch
      tags:
      - Action batches
      operationId: createOrganizationActionBatch
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: createOrganizationActionBatch
        in: body
        required: true
        schema:
          $ref: '#/definitions/createOrganizationActionBatch'
      responses:
        201:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "id": "123",

                "organizationId": "2930418",

                "confirmed": true,

                "synchronous": false,

                "status": {

                  "completed": false,

                  "failed": false,

                  "errors": []

                },

                "actions": [

                  {

                    "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",

                    "operation": "update",

                    "body": {

                      "enabled": false

                    }

                  }

                ]

              }
          headers: {}
    get:
      description: Return the list of action batches in the organization
      summary: getOrganizationActionBatches
      tags:
      - Action batches
      operationId: getOrganizationActionBatches
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "id": "123",

                  "organizationId": "2930418",

                  "confirmed": true,

                  "synchronous": false,

                  "status": {

                    "completed": false,

                    "failed": false,

                    "errors": []

                  },

                  "actions": [

                    {

                      "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",

                      "operation": "update",

                      "body": {

                        "enabled": false

                      }

                    }

                  ]

                }

              ]
          headers: {}
  /organizations/{organizationId}/actionBatches/{actionBatchId}:
    get:
      description: Return an action batch
      summary: getOrganizationActionBatch
      tags:
      - Action batches
      operationId: getOrganizationActionBatch
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: actionBatchId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "id": "123",

                "organizationId": "2930418",

                "confirmed": true,

                "synchronous": false,

                "status": {

                  "completed": false,

                  "failed": false,

                  "errors": []

                },

                "actions": [

                  {

                    "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",

                    "operation": "update",

                    "body": {

                      "enabled": false

                    }

                  }

                ]

              }
          headers: {}
    put:
      description: Update an action batch
      summary: updateOrganizationActionBatch
      tags:
      - Action batches
      operationId: updateOrganizationActionBatch
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: actionBatchId
        in: path
        required: true
        type: string
      - name: updateOrganizationActionBatch
        in: body
        required: false
        schema:
          $ref: '#/definitions/updateOrganizationActionBatch'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "id": "123",

                "organizationId": "2930418",

                "confirmed": true,

                "synchronous": false,

                "status": {

                  "completed": false,

                  "failed": false,

                  "errors": []

                },

                "actions": [

                  {

                    "resource": "/devices/QXXX-XXXX-XXXX/switchPorts/3",

                    "operation": "update",

                    "body": {

                      "enabled": false

                    }

                  }

                ]

              }
          headers: {}
    delete:
      description: Delete an action batch
      summary: deleteOrganizationActionBatch
      tags:
      - Action batches
      operationId: deleteOrganizationActionBatch
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: actionBatchId
        in: path
        required: true
        type: string
      responses:
        204:
          description: Successful operation
          headers: {}
  /organizations/{organizationId}/admins:
    post:
      description: Create a new dashboard administrator
      summary: createOrganizationAdmin
      tags:
      - Admins
      operationId: createOrganizationAdmin
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: createOrganizationAdmin
        in: body
        required: true
        schema:
          $ref: '#/definitions/createOrganizationAdmin'
      responses:
        201:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "id": "212406",

                "name": "Miles Meraki",

                "email": "miles@meraki.com",

                "orgAccess": "none",

                "accountStatus": "ok",

                "twoFactorAuthEnabled": false,

                "hasApiKey": true,

                "lastActive": "2019-01-28 14:58:56 -0800",

                "tags": [

                  {

                    "tag": "west",

                    "access": "read-only"

                  }

                ],

                "networks": [

                  {

                    "id": "N_24329156",

                    "access": "full"

                  }

                ]

              }
          headers: {}
    get:
      description: List the dashboard administrators in this organization
      summary: getOrganizationAdmins
      tags:
      - Admins
      operationId: getOrganizationAdmins
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "id": "212406",

                  "name": "Miles Meraki",

                  "email": "miles@meraki.com",

                  "orgAccess": "none",

                  "accountStatus": "ok",

                  "twoFactorAuthEnabled": false,

                  "hasApiKey": true,

                  "lastActive": "2019-01-28 14:58:56 -0800",

                  "tags": [

                    {

                      "tag": "west",

                      "access": "read-only"

                    }

                  ],

                  "networks": [

                    {

                      "id": "N_24329156",

                      "access": "full"

                    }

                  ]

                }

              ]
          headers: {}
  /organizations/{organizationId}/admins/{id}:
    delete:
      description: Revoke all access for a dashboard administrator within this organization
      summary: deleteOrganizationAdmin
      tags:
      - Admins
      operationId: deleteOrganizationAdmin
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: id
        in: path
        required: true
        type: string
      responses:
        204:
          description: Successful operation
          headers: {}
    put:
      description: Update an administrator
      summary: updateOrganizationAdmin
      tags:
      - Admins
      operationId: updateOrganizationAdmin
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: id
        in: path
        required: true
        type: string
      - name: updateOrganizationAdmin
        in: body
        required: false
        schema:
          $ref: '#/definitions/updateOrganizationAdmin'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "id": "212406",

                "name": "Miles Meraki",

                "email": "miles@meraki.com",

                "orgAccess": "none",

                "accountStatus": "ok",

                "twoFactorAuthEnabled": false,

                "hasApiKey": true,

                "lastActive": "2019-01-28 14:58:56 -0800",

                "tags": [

                  {

                    "tag": "west",

                    "access": "read-only"

                  }

                ],

                "networks": [

                  {

                    "id": "N_24329156",

                    "access": "full"

                  }

                ]

              }
          headers: {}
  /networks/{networkId}/alertSettings:
    put:
      description: Update the alert configuration for this network
      summary: updateNetworkAlertSettings
      tags:
      - Alert settings
      operationId: updateNetworkAlertSettings
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: updateNetworkAlertSettings
        in: body
        required: false
        schema:
          $ref: '#/definitions/updateNetworkAlertSettings'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "defaultDestinations": {

                  "emails": [

                    "miles@meraki.com"

                  ],

                  "allAdmins": true,

                  "snmp": true

                },

                "alerts": [

                  {

                    "type": "gatewayDown",

                    "enabled": true,

                    "alertDestinations": {

                      "emails": [

                        "miles@meraki.com"

                      ],

                      "allAdmins": false,

                      "snmp": false

                    },

                    "filters": {

                      "timeout": 60

                    }

                  }

                ]

              }
          headers: {}
    get:
      description: Return the alert configuration for this network
      summary: getNetworkAlertSettings
      tags:
      - Alert settings
      operationId: getNetworkAlertSettings
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "defaultDestinations": {

                  "emails": [

                    "miles@meraki.com"

                  ],

                  "allAdmins": true,

                  "snmp": true

                },

                "alerts": [

                  {

                    "type": "gatewayDown",

                    "enabled": true,

                    "alertDestinations": {

                      "emails": [

                        "miles@meraki.com"

                      ],

                      "allAdmins": false,

                      "snmp": false

                    },

                    "filters": {

                      "timeout": 60

                    }

                  }

                ]

              }
          headers: {}
  /networks/{networkId}/bluetoothClients:
    get:
      description: List the Bluetooth clients seen by APs in this network
      summary: getNetworkBluetoothClients
      tags:
      - Bluetooth clients
      operationId: getNetworkBluetoothClients
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: t0
        in: query
        required: false
        type: string
        description: The beginning of the timespan for the data. The maximum lookback period is 7 days from today.
      - name: timespan
        in: query
        required: false
        type: number
        format: double
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 7 days. The default is 1 day.
      - name: perPage
        in: query
        required: false
        type: integer
        format: int32
        description: The number of entries per page returned. Acceptable range is 5 - 1000. Default is 10.
      - name: startingAfter
        in: query
        required: false
        type: string
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
      - name: endingBefore
        in: query
        required: false
        type: string
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
      - name: includeConnectivityHistory
        in: query
        required: false
        type: boolean
        description: Include the connectivity history for this client
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "id": "1284392014819",

                  "mac": "22:33:44:55:66:77",

                  "networkId": "N_24329156",

                  "name": "Miles's phone",

                  "deviceName": "Bose QuietComfort 35",

                  "manufacturer": "Bose",

                  "lastSeen": 1526087474,

                  "seenByDeviceMac": "00:11:22:33:44:55",

                  "inSightAlert": false,

                  "outOfSightAlert": false,

                  "tags": [

                    "tag1",

                    "tag2"

                  ]

                }

              ]
          headers: {}
  /networks/{networkId}/bluetoothClients/{bluetoothClientId}:
    get:
      description: Return a Bluetooth client. Bluetooth clients can be identified by their ID or their MAC.
      summary: getNetworkBluetoothClient
      tags:
      - Bluetooth clients
      operationId: getNetworkBluetoothClient
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: bluetoothClientId
        in: path
        required: true
        type: string
      - name: includeConnectivityHistory
        in: query
        required: false
        type: boolean
        description: Include the connectivity history for this client
      - name: connectivityHistoryTimespan
        in: query
        required: false
        type: integer
        format: int32
        description: The timespan, in seconds, for the connectivityHistory data. By default 1 day, 86400, will be used.
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "id": "1284392014819",

                "mac": "22:33:44:55:66:77",

                "networkId": "N_24329156",

                "name": "Miles's phone",

                "deviceName": "Bose QuietComfort 35",

                "manufacturer": "Bose",

                "lastSeen": 1526087474,

                "seenByDeviceMac": "00:11:22:33:44:55",

                "inSightAlert": false,

                "outOfSightAlert": false,

                "tags": [

                  "tag1",

                  "tag2"

                ]

              }
          headers: {}
  /devices/{serial}/wireless/bluetooth/settings:
    put:
      description: Update the bluetooth settings for a wireless device
      summary: updateDeviceWirelessBluetoothSettings
      tags:
      - Bluetooth settings
      operationId: updateDeviceWirelessBluetoothSettings
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: serial
        in: path
        required: true
        type: string
      - name: updateDeviceWirelessBluetoothSettings
        in: body
        required: false
        schema:
          $ref: '#/definitions/updateDeviceWirelessBluetoothSettings'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "uuid": "00000000-0000-0000-000-000000000000",

                "major": 13,

                "minor": 125

              }
          headers: {}
    get:
      description: Return the bluetooth settings for a wireless device
      summary: getDeviceWirelessBluetoothSettings
      tags:
      - Bluetooth settings
      operationId: getDeviceWirelessBluetoothSettings
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: serial
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "uuid": "00000000-0000-0000-000-000000000000",

                "major": 13,

                "minor": 125

              }
          headers: {}
  /networks/{networkId}/bluetoothSettings:
    put:
      description: Update the Bluetooth settings for a network. See the docs page for <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth settings</a>.
      summary: updateNetworkBluetoothSettings
      tags:
      - Bluetooth settings
      operationId: updateNetworkBluetoothSettings
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: updateNetworkBluetoothSettings
        in: body
        required: false
        schema:
          $ref: '#/definitions/updateNetworkBluetoothSettings'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "scanningEnabled": true,

                "advertisingEnabled": true,

                "uuid": "00000000-0000-0000-000-000000000000",

                "majorMinorAssignmentMode": "Non-unique",

                "major": 1

              }
          headers: {}
    get:
      description: Return the Bluetooth settings for a network. <a href="https://documentation.meraki.com/MR/Bluetooth/Bluetooth_Low_Energy_(BLE)">Bluetooth settings</a> must be enabled on the network.
      summary: getNetworkBluetoothSettings
      tags:
      - Bluetooth settings
      operationId: getNetworkBluetoothSettings
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "scanningEnabled": true,

                "advertisingEnabled": true,

                "uuid": "00000000-0000-0000-000-000000000000",

                "majorMinorAssignmentMode": "Non-unique",

                "major": 1

              }
          headers: {}
  /networks/{networkId}/camera/qualityRetentionProfiles/{qualityRetentionProfileId}:
    delete:
      description: Delete an existing quality retention profile for this network.
      summary: deleteNetworkCameraQualityRetentionProfile
      tags:
      - Camera quality retention profiles
      operationId: deleteNetworkCameraQualityRetentionProfile
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: qualityRetentionProfileId
        in: path
        required: true
        type: string
      responses:
        204:
          description: Successful operation
          headers: {}
    put:
      description: Update an existing quality retention profile for this network.
      summary: updateNetworkCameraQualityRetentionProfile
      tags:
      - Camera quality retention profiles
      operationId: updateNetworkCameraQualityRetentionProfile
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: qualityRetentionProfileId
        in: path
        required: true
        type: string
      - name: updateNetworkCameraQualityRetentionProfile
        in: body
        required: false
        schema:
          $ref: '#/definitions/updateNetworkCameraQualityRetentionProfile'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "id": "1234",

                "networkId": "N_24329156",

                "name": "Sample quality retention profile",

                "restrictedBandwidthModeEnabled": true,

                "motionBasedRetentionEnabled": false,

                "audioRecordingEnabled": false,

                "cloudArchiveEnabled": false,

                "maxRetentionDays": 7,

                "scheduleId": null,

                "motionDetectorVersion": 2,

                "videoSettings": {

                  "MV32": {

                    "quality": "Enhanced",

                    "resolution": "1080x1080"

                  },

                  "MV21/MV71": {

                    "quality": "High",

                    "resolution": "1280x720"

                  },

                  "MV12/MV22/MV72": {

                    "quality": "High",

                    "resolution": "1920x1080"

                  },

                  "MV12WE": {

                    "quality": "High",

                    "resolution": "1920x1080"

                  }

                }

              }
          headers: {}
    get:
      description: Retrieve a single quality retention profile
      summary: getNetworkCameraQualityRetentionProfile
      tags:
      - Camera quality retention profiles
      operationId: getNetworkCameraQualityRetentionProfile
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: qualityRetentionProfileId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "id": "1234",

                "networkId": "N_24329156",

                "name": "Sample quality retention profile",

                "restrictedBandwidthModeEnabled": true,

                "motionBasedRetentionEnabled": false,

                "audioRecordingEnabled": false,

                "cloudArchiveEnabled": false,

                "maxRetentionDays": 7,

                "scheduleId": null,

                "motionDetectorVersion": 2,

                "videoSettings": {

                  "MV32": {

                    "quality": "Enhanced",

                    "resolution": "1080x1080"

                  },

                  "MV21/MV71": {

                    "quality": "High",

                    "resolution": "1280x720"

                  },

                  "MV12/MV22/MV72": {

                    "quality": "High",

                    "resolution": "1920x1080"

                  },

                  "MV12WE": {

                    "quality": "High",

                    "resolution": "1920x1080"

                  }

                }

              }
          headers: {}
  /networks/{networkId}/camera/qualityRetentionProfiles:
    get:
      description: List the quality retention profiles for this network
      summary: getNetworkCameraQualityRetentionProfiles
      tags:
      - Camera quality retention profiles
      operationId: getNetworkCameraQualityRetentionProfiles
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "id": "1234",

                  "networkId": "N_24329156",

                  "name": "Sample quality retention profile",

                  "restrictedBandwidthModeEnabled": true,

                  "motionBasedRetentionEnabled": false,

                  "audioRecordingEnabled": false,

                  "cloudArchiveEnabled": false,

                  "maxRetentionDays": 7,

                  "scheduleId": null,

                  "motionDetectorVersion": 2,

                  "videoSettings": {

                    "MV32": {

                      "quality": "Enhanced",

                      "resolution": "1080x1080"

                    },

                    "MV21/MV71": {

                      "quality": "High",

                      "resolution": "1280x720"

                    },

                    "MV12/MV22/MV72": {

                      "quality": "High",

                      "resolution": "1920x1080"

                    },

                    "MV12WE": {

                      "quality": "High",

                      "resolution": "1920x1080"

                    }

                  }

                }

              ]
          headers: {}
    post:
      description: Creates new quality retention profile for this network.
      summary: createNetworkCameraQualityRetentionProfile
      tags:
      - Camera quality retention profiles
      operationId: createNetworkCameraQualityRetentionProfile
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: createNetworkCameraQualityRetentionProfile
        in: body
        required: true
        schema:
          $ref: '#/definitions/createNetworkCameraQualityRetentionProfile'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "id": "1234",

                "networkId": "N_24329156",

                "name": "Sample quality retention profile",

                "restrictedBandwidthModeEnabled": true,

                "motionBasedRetentionEnabled": false,

                "audioRecordingEnabled": false,

                "cloudArchiveEnabled": false,

                "maxRetentionDays": 7,

                "scheduleId": null,

                "motionDetectorVersion": 2,

                "videoSettings": {

                  "MV32": {

                    "quality": "Enhanced",

                    "resolution": "1080x1080"

                  },

                  "MV21/MV71": {

                    "quality": "High",

                    "resolution": "1280x720"

                  },

                  "MV12/MV22/MV72": {

                    "quality": "High",

                    "resolution": "1920x1080"

                  },

                  "MV12WE": {

                    "quality": "High",

                    "resolution": "1920x1080"

                  }

                }

              }
          headers: {}
  /networks/{networkId}/cameras/{serial}/videoLink:
    get:
      description: Returns video link to the specified camera. If a timestamp is supplied, it links to that timestamp.
      summary: getNetworkCameraVideoLink
      tags:
      - Cameras
      operationId: getNetworkCameraVideoLink
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: serial
        in: path
        required: true
        type: string
      - name: timestamp
        in: query
        required: false
        type: string
        description: '[optional] The video link will start at this timestamp. The timestamp is in UNIX Epoch time (milliseconds). If no timestamp is specified, we will assume current time.'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "url": "https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077"

              }
          headers: {}
  /devices/{serial}/camera/qualityAndRetentionSettings:
    put:
      description: Update quality and retention settings for the given camera
      summary: updateDeviceCameraQualityAndRetentionSettings
      tags:
      - Cameras
      operationId: updateDeviceCameraQualityAndRetentionSettings
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: serial
        in: path
        required: true
        type: string
      - name: updateDeviceCameraQualityAndRetentionSettings
        in: body
        required: false
        schema:
          $ref: '#/definitions/updateDeviceCameraQualityAndRetentionSettings'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "motionBasedRetentionEnabled": false,

                "audioRecordingEnabled": false,

                "restrictedBandwidthModeEnabled": false,

                "profileId": null,

                "quality": "Standard",

                "resolution": 720

              }
          headers: {}
    get:
      description: Returns quality and retention settings for the given camera
      summary: getDeviceCameraQualityAndRetentionSettings
      tags:
      - Cameras
      operationId: getDeviceCameraQualityAndRetentionSettings
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: serial
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "motionBasedRetentionEnabled": false,

                "audioRecordingEnabled": false,

                "restrictedBandwidthModeEnabled": false,

                "profileId": null,

                "quality": "Standard",

                "resolution": 720

              }
          headers: {}
  /networks/{networkId}/cameras/{serial}/snapshot:
    post:
      description: Generate a snapshot of what the camera sees at the specified time and return a link to that image.
      summary: generateNetworkCameraSnapshot
      tags:
      - Cameras
      operationId: generateNetworkCameraSnapshot
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: serial
        in: path
        required: true
        type: string
      - name: generateNetworkCameraSnapshot
        in: body
        required: false
        schema:
          $ref: '#/definitions/generateNetworkCameraSnapshot'
      responses:
        202:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "url": "https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2",

                "expiry": "Access to the image will expire at 2018-12-11T03:12:39Z."

              }
          headers: {}
  /networks/{networkId}/camera/schedules:
    get:
      description: Returns a list of all camera recording schedules.
      summary: getNetworkCameraSchedules
      tags:
      - Cameras
      operationId: getNetworkCameraSchedules
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "id": "123",

                  "name": "Weekday schedule"

                },

                {

                  "id": "124",

                  "name": "Office hours"

                }

              ]
          headers: {}
  /organizations/{organizationId}/configurationChanges:
    get:
      description: View the Change Log for your organization
      summary: getOrganizationConfigurationChanges
      tags:
      - Change log
      operationId: getOrganizationConfigurationChanges
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: t0
        in: query
        required: false
        type: string
        description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
      - name: t1
        in: query
        required: false
        type: string
        description: The end of the timespan for the data. t1 can be a maximum of 365 days after t0.
      - name: timespan
        in: query
        required: false
        type: number
        format: double
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 365 days. The default is 365 days.
      - name: perPage
        in: query
        required: false
        type: integer
        format: int32
        description: The number of entries per page returned. Acceptable range is 3 - 5000. Default is 5000.
      - name: startingAfter
        in: query
        required: false
        type: string
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
      - name: endingBefore
        in: query
        required: false
        type: string
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
      - name: networkId
        in: query
        required: false
        type: string
        description: Filters on the given network
      - name: adminId
        in: query
        required: false
        type: string
        description: Filters on the given Admin
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "ts": "2018-02-11T00:00:00.090210Z",

                  "adminName": "Miles Meraki",

                  "adminEmail": "miles@meraki.com",

                  "adminId": "212406",

                  "page": "via API",

                  "label": "PUT /api/v1/organizations/2930418",

                  "oldValue": "{\"id\":\"2930418\",\"name\":\"My organization\",\"url\":\"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\"}",

                  "newValue": "{\"id\":\"2930418\",\"name\":\"My organization changed\",\"url\":\"https://dashboard.meraki.com/o/VjjsAd/manage/organization/overview\"}"

                }

              ]
          headers: {}
  /networks/{networkId}/clients/{clientId}/splashAuthorizationStatus:
    get:
      description: Return the splash authorization for a client, for each SSID they've associated with through splash. Only enabled SSIDs with Click-through splash enabled will be included. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      summary: getNetworkClientSplashAuthorizationStatus
      tags:
      - Clients
      operationId: getNetworkClientSplashAuthorizationStatus
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: clientId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "ssids": {

                  "0": {

                    "isAuthorized": true,

                    "authorizedAt": "2017-07-19 16:24:13 UTC",

                    "expiresAt": "2017-07-20 16:24:13 UTC"

                  },

                  "2": {

                    "isAuthorized": false

                  }

                }

              }
          headers: {}
    put:
      description: Update a client's splash authorization. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      summary: updateNetworkClientSplashAuthorizationStatus
      tags:
      - Clients
      operationId: updateNetworkClientSplashAuthorizationStatus
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: clientId
        in: path
        required: true
        type: string
      - name: updateNetworkClientSplashAuthorizationStatus
        in: body
        required: true
        schema:
          $ref: '#/definitions/updateNetworkClientSplashAuthorizationStatus'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "ssids": {

                  "0": {

                    "isAuthorized": true,

                    "authorizedAt": "2017-07-19 16:24:13 UTC",

                    "expiresAt": "2017-07-20 16:24:13 UTC"

                  },

                  "2": {

                    "isAuthorized": false

                  }

                }

              }
          headers: {}
  /networks/{networkId}/clients/{clientId}:
    get:
      description: Return the client associated with the given identifier. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      summary: getNetworkClient
      tags:
      - Clients
      operationId: getNetworkClient
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: clientId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "id": "k74272e",

                "description": "Miles's phone",

                "mac": "22:33:44:55:66:77",

                "ip": "1.2.3.4",

                "user": "null",

                "vlan": "255",

                "switchport": null,

                "ip6": "",

                "firstSeen": 1518365681,

                "lastSeen": 1526087474,

                "manufacturer": "Apple",

                "os": "iOS",

                "ssid": "My SSID",

                "wirelessCapabilities": "802.11ac - 2.4 and 5 GHz",

                "smInstalled": true,

                "recentDeviceMac": "00:11:22:33:44:55",

                "clientVpnConnections": [

                  {

                    "remoteIp": "1.2.3.4",

                    "connectedAt": 1522613355,

                    "disconnectedAt": 1522613360

                  }

                ],

                "lldp": [

                  [

                    "System name",

                    "Some system name"

                  ],

                  [

                    "System description",

                    "Some system description"

                  ],

                  [

                    "Port ID",

                    "1"

                  ],

                  [

                    "Chassis ID",

                    "00:18:0a:00:00:00"

                  ],

                  [

                    "Port description",

                    "eth0"

                  ],

                  [

                    "System capabilities",

                    "Two-port MAC Relay"

                  ]

                ],

                "cdp": null,

                "status": "Online"

              }
          headers: {}
  /networks/{networkId}/clients/{clientId}/usageHistory:
    get:
      description: Return the client's daily usage history. Usage data is in kilobytes. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      summary: getNetworkClientUsageHistory
      tags:
      - Clients
      operationId: getNetworkClientUsageHistory
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: clientId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "sent": 500,

                  "received": 680,

                  "ts": 1518365681

                }

              ]
          headers: {}
  /devices/{serial}/clients:
    get:
      description: List the clients of a device, up to a maximum of a month ago. The usage of each client is returned in kilobytes. If the device is a switch, the switchport is returned; otherwise the switchport field is null.
      summary: getDeviceClients
      tags:
      - Clients
      operationId: getDeviceClients
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: serial
        in: path
        required: true
        type: string
      - name: t0
        in: query
        required: false
        type: string
        description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
      - name: timespan
        in: query
        required: false
        type: number
        format: double
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "usage": {

                    "sent": 138.0,

                    "recv": 61.0

                  },

                  "id": "k74272e",

                  "description": "Miles's phone",

                  "mac": "22:33:44:55:66:77",

                  "ip": "1.2.3.4",

                  "user": "milesmeraki",

                  "vlan": 255,

                  "switchport": null,

                  "mdnsName": "Miles's phone",

                  "dhcpHostname": "MilesPhone"

                }

              ]
          headers: {}
  /networks/{networkId}/clients/{clientId}/events:
    get:
      description: Return the events associated with this client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      summary: getNetworkClientEvents
      tags:
      - Clients
      operationId: getNetworkClientEvents
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: clientId
        in: path
        required: true
        type: string
      - name: perPage
        in: query
        required: false
        type: integer
        format: int32
        description: The number of entries per page returned. Acceptable range is 3 - 100. Default is 100.
      - name: startingAfter
        in: query
        required: false
        type: string
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
      - name: endingBefore
        in: query
        required: false
        type: string
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "deviceSerial": "Q234-ABCD-5678",

                  "occurredAt": 1518365681,

                  "type": "l3roaming_assoc_start",

                  "details": {

                    "vap": "1",

                    "on_packet": "true"

                  }

                }

              ]
          headers: {}
  /networks/{networkId}/clients/{clientId}/policy:
    put:
      description: Update the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      summary: updateNetworkClientPolicy
      tags:
      - Clients
      operationId: updateNetworkClientPolicy
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: clientId
        in: path
        required: true
        type: string
      - name: updateNetworkClientPolicy
        in: body
        required: true
        schema:
          $ref: '#/definitions/updateNetworkClientPolicy'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "mac": "00:11:22:33:44:55",

                "type": "Group policy",

                "groupPolicyId": "101"

              }
          headers: {}
    get:
      description: Return the policy assigned to a client on the network. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      summary: getNetworkClientPolicy
      tags:
      - Clients
      operationId: getNetworkClientPolicy
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: clientId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "mac": "00:11:22:33:44:55",

                "type": "Group policy",

                "groupPolicyId": "101"

              }
          headers: {}
  /networks/{networkId}/clients/provision:
    post:
      description: Provisions a client with a name and policy. Clients can be provisioned before they associate to the network.
      summary: provisionNetworkClients
      tags:
      - Clients
      operationId: provisionNetworkClients
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: provisionNetworkClients
        in: body
        required: true
        schema:
          $ref: '#/definitions/provisionNetworkClients'
      responses:
        201:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "mac": "00:11:22:33:44:55",

                "clientId": "k74272e",

                "name": "Miles's phone",

                "devicePolicy": "Group policy",

                "groupPolicyId": "101"

              }
          headers: {}
  /networks/{networkId}/clients/{clientId}/latencyHistory:
    get:
      description: 'Return the latency history for a client. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP. The latency data is from a sample of 2% of packets and is grouped into 4 traffic categories: background, best effort, video, voice. Within these categories the sampled packet counters are bucketed by latency in milliseconds.'
      summary: getNetworkClientLatencyHistory
      tags:
      - Clients
      operationId: getNetworkClientLatencyHistory
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: clientId
        in: path
        required: true
        type: string
      - name: t0
        in: query
        required: false
        type: string
        description: The beginning of the timespan for the data. The maximum lookback period is 791 days from today.
      - name: t1
        in: query
        required: false
        type: string
        description: The end of the timespan for the data. t1 can be a maximum of 791 days after t0.
      - name: timespan
        in: query
        required: false
        type: number
        format: double
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 791 days. The default is 1 day.
      - name: resolution
        in: query
        required: false
        type: integer
        format: int32
        description: 'The time resolution in seconds for returned data. The valid resolutions are: 86400. The default is 86400.'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "t0": 1550534400,

                  "t1": 1550620800,

                  "latencyBinsByCategory": {

                    "backgroundTraffic": {

                      "0.5": 41750,

                      "1.0": 21552,

                      "2.0": 59940,

                      "4.0": 146622,

                      "8.0": 57354,

                      "16.0": 0,

                      "32.0": 9954,

                      "64.0": 0,

                      "128.0": 0,

                      "256.0": 1896,

                      "512.0": 0,

                      "1024.0": 0,

                      "2048.0": 0

                    },

                    "bestEffortTraffic": {

                      "0.5": 1840899,

                      "1.0": 1644506,

                      "2.0": 629958,

                      "4.0": 449564,

                      "8.0": 2009658,

                      "16.0": 1329568,

                      "32.0": 282168,

                      "64.0": 97573,

                      "128.0": 191977,

                      "256.0": 30560,

                      "512.0": 26032,

                      "1024.0": 4943,

                      "2048.0": 12072

                    },

                    "videoTraffic": {

                      "0.5": 0,

                      "1.0": 0,

                      "2.0": 0,

                      "4.0": 0,

                      "8.0": 0,

                      "16.0": 0,

                      "32.0": 0,

                      "64.0": 0,

                      "128.0": 0,

                      "256.0": 0,

                      "512.0": 0,

                      "1024.0": 0,

                      "2048.0": 0

                    },

                    "voiceTraffic": {

                      "0.5": 716,

                      "1.0": 948,

                      "2.0": 474,

                      "4.0": 78,

                      "8.0": 0,

                      "16.0": 0,

                      "32.0": 0,

                      "64.0": 0,

                      "128.0": 0,

                      "256.0": 0,

                      "512.0": 0,

                      "1024.0": 0,

                      "2048.0": 0

                    }

                  }

                }

              ]
          headers: {}
  /networks/{networkId}/clients:
    get:
      description: List the clients that have used this network in the timespan
      summary: getNetworkClients
      tags:
      - Clients
      operationId: getNetworkClients
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: t0
        in: query
        required: false
        type: string
        description: The beginning of the timespan for the data. The maximum lookback period is 31 days from today.
      - name: timespan
        in: query
        required: false
        type: number
        format: double
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameter t0. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
      - name: perPage
        in: query
        required: false
        type: integer
        format: int32
        description: The number of entries per page returned. Acceptable range is 3 - 1000. Default is 10.
      - name: startingAfter
        in: query
        required: false
        type: string
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
      - name: endingBefore
        in: query
        required: false
        type: string
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "usage": {

                    "sent": 138.0,

                    "recv": 61.0

                  },

                  "id": "k74272e",

                  "description": "Miles's phone",

                  "mac": "22:33:44:55:66:77",

                  "ip": "1.2.3.4",

                  "user": "milesmeraki",

                  "vlan": 255,

                  "switchport": null,

                  "ip6": "",

                  "firstSeen": 1518365681,

                  "lastSeen": 1526087474,

                  "manufacturer": "Apple",

                  "os": "iOS",

                  "recentDeviceSerial": "Q234-ABCD-5678",

                  "recentDeviceName": "My AP",

                  "recentDeviceMac": "00:11:22:33:44:55",

                  "ssid": "My SSID",

                  "status": "Online"

                }

              ]
          headers: {}
  /networks/{networkId}/clients/{clientId}/trafficHistory:
    get:
      description: Return the client's network traffic data over time. Usage data is in kilobytes. This endpoint requires detailed traffic analysis to be enabled on the Network-wide > General page. Clients can be identified by a client key or either the MAC or IP depending on whether the network uses Track-by-IP.
      summary: getNetworkClientTrafficHistory
      tags:
      - Clients
      operationId: getNetworkClientTrafficHistory
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: clientId
        in: path
        required: true
        type: string
      - name: perPage
        in: query
        required: false
        type: integer
        format: int32
        description: The number of entries per page returned. Acceptable range is 3 - 1000.
      - name: startingAfter
        in: query
        required: false
        type: string
        description: A token used by the server to indicate the start of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
      - name: endingBefore
        in: query
        required: false
        type: string
        description: A token used by the server to indicate the end of the page. Often this is a timestamp or an ID but it is not limited to those. This parameter should not be defined by client applications. The link for the first, last, prev, or next page in the HTTP Link header should define it.
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "ts": 1518365681,

                  "application": "Google",

                  "destination": "www.google.com",

                  "protocol": "UDP",

                  "port": 443,

                  "recv": 383,

                  "sent": 56,

                  "numFlows": 5,

                  "activeSeconds": 240

                }

              ]
          headers: {}
  /organizations/{organizationId}/configTemplates:
    get:
      description: List the configuration templates for this organization
      summary: getOrganizationConfigTemplates
      tags:
      - Config templates
      operationId: getOrganizationConfigTemplates
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "id": "N_24329156",

                  "name": "My config template",

                  "productTypes": [

                    "appliance",

                    "switch",

                    "wireless"

                  ]

                }

              ]
          headers: {}
  /organizations/{organizationId}/configTemplates/{configTemplateId}:
    delete:
      description: Remove a configuration template
      summary: deleteOrganizationConfigTemplate
      tags:
      - Config templates
      operationId: deleteOrganizationConfigTemplate
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: configTemplateId
        in: path
        required: true
        type: string
      responses:
        204:
          description: Successful operation
          headers: {}
  /networks/{networkId}/connectivityMonitoringDestinations:
    get:
      description: Return the connectivity testing destinations for an MX network
      summary: getNetworkConnectivityMonitoringDestinations
      tags:
      - Connectivity monitoring destinations
      operationId: getNetworkConnectivityMonitoringDestinations
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "destinations": [

                  {

                    "ip": "8.8.8.8",

                    "description": "Google",

                    "default": false

                  },

                  {

                    "ip": "1.23.45.67",

                    "description": "test description",

                    "default": true

                  },

                  {

                    "ip": "9.8.7.6",

                    "description": null,

                    "default": false

                  }

                ]

              }
          headers: {}
    put:
      description: Update the connectivity testing destinations for an MX network
      summary: updateNetworkConnectivityMonitoringDestinations
      tags:
      - Connectivity monitoring destinations
      operationId: updateNetworkConnectivityMonitoringDestinations
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: updateNetworkConnectivityMonitoringDestinations
        in: body
        required: false
        schema:
          $ref: '#/definitions/updateNetworkConnectivityMonitoringDestinations'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "destinations": [

                  {

                    "ip": "8.8.8.8",

                    "description": "Google",

                    "default": false

                  },

                  {

                    "ip": "1.23.45.67",

                    "description": "test description",

                    "default": true

                  },

                  {

                    "ip": "9.8.7.6",

                    "description": null,

                    "default": false

                  }

                ]

              }
          headers: {}
  /networks/{networkId}/contentFiltering/categories:
    get:
      description: List all available content filtering categories for an MX network
      summary: getNetworkContentFilteringCategories
      tags:
      - Content filtering categories
      operationId: getNetworkContentFilteringCategories
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "categories": [

                  {

                    "id": "meraki:contentFiltering/category/1",

                    "name": "Real Estate"

                  },

                  {

                    "id": "meraki:contentFiltering/category/3",

                    "name": "Financial Services"

                  },

                  "...",

                  {

                    "id": "meraki:contentFiltering/category/11",

                    "name": "Adult and Pornography"

                  }

                ]

              }
          headers: {}
  /networks/{networkId}/contentFiltering:
    get:
      description: Return the content filtering settings for an MX network
      summary: getNetworkContentFiltering
      tags:
      - Content filtering rules
      operationId: getNetworkContentFiltering
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "allowedUrlPatterns": [

                  "http://www.example.org",

                  "http://help.com.au"

                ],

                "blockedUrlPatterns": [

                  "http://www.example.com",

                  "http://www.betting.com"

                ],

                "blockedUrlCategories": [

                  {

                    "id": "meraki:contentFiltering/category/1",

                    "name": "Real Estate"

                  },

                  {

                    "id": "meraki:contentFiltering/category/7",

                    "name": "Shopping"

                  }

                ],

                "urlCategoryListSize": "topSites"

              }
          headers: {}
    put:
      description: Update the content filtering settings for an MX network
      summary: updateNetworkContentFiltering
      tags:
      - Content filtering rules
      operationId: updateNetworkContentFiltering
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: updateNetworkContentFiltering
        in: body
        required: false
        schema:
          $ref: '#/definitions/updateNetworkContentFiltering'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "allowedUrlPatterns": [

                  "http://www.example.org",

                  "http://help.com.au"

                ],

                "blockedUrlPatterns": [

                  "http://www.example.com",

                  "http://www.betting.com"

                ],

                "blockedUrlCategories": [

                  {

                    "id": "meraki:contentFiltering/category/1",

                    "name": "Real Estate"

                  },

                  {

                    "id": "meraki:contentFiltering/category/7",

                    "name": "Shopping"

                  }

                ],

                "urlCategoryListSize": "topSites"

              }
          headers: {}
  /organizations/{organizationId}/brandingPolicies/{brandingPolicyId}:
    get:
      description: Return a branding policy
      summary: getOrganizationBrandingPolicy
      tags:
      - Dashboard branding policies
      operationId: getOrganizationBrandingPolicy
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: brandingPolicyId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "brandingPolicyId": "456",

                "name": "My Branding Policy",

                "enabled": true,

                "adminSettings": {

                  "appliesTo": "All admins of networks...",

                  "values": [

                    "N_1234",

                    "L_5678"

                  ]

                },

                "helpSettings": {

                  "helpTab": "show",

                  "getHelpSubtab": "default or inherit",

                  "communitySubtab": "show",

                  "casesSubtab": "hide",

                  "dataProtectionRequestsSubtab": "default or inherit",

                  "getHelpSubtabKnowledgeBaseSearch": "<h1>Some custom HTML content</h1>",

                  "universalSearchKnowledgeBaseSearch": "hide",

                  "ciscoMerakiProductDocumentation": "show",

                  "supportContactInfo": "show",

                  "newFeaturesSubtab": "show",

                  "firewallInfoSubtab": "hide",

                  "apiDocsSubtab": "default or inherit",

                  "hardwareReplacementsSubtab": "hide",

                  "smForums": "hide"

                }

              }
          headers: {}
    put:
      description: Update a branding policy
      summary: updateOrganizationBrandingPolicy
      tags:
      - Dashboard branding policies
      operationId: updateOrganizationBrandingPolicy
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: brandingPolicyId
        in: path
        required: true
        type: string
      - name: updateOrganizationBrandingPolicy
        in: body
        required: false
        schema:
          $ref: '#/definitions/updateOrganizationBrandingPolicy'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "brandingPolicyId": "456",

                "name": "My Branding Policy",

                "enabled": true,

                "adminSettings": {

                  "appliesTo": "All admins of networks...",

                  "values": [

                    "N_1234",

                    "L_5678"

                  ]

                },

                "helpSettings": {

                  "helpTab": "show",

                  "getHelpSubtab": "default or inherit",

                  "communitySubtab": "show",

                  "casesSubtab": "hide",

                  "dataProtectionRequestsSubtab": "default or inherit",

                  "getHelpSubtabKnowledgeBaseSearch": "<h1>Some custom HTML content</h1>",

                  "universalSearchKnowledgeBaseSearch": "hide",

                  "ciscoMerakiProductDocumentation": "show",

                  "supportContactInfo": "show",

                  "newFeaturesSubtab": "show",

                  "firewallInfoSubtab": "hide",

                  "apiDocsSubtab": "default or inherit",

                  "hardwareReplacementsSubtab": "hide",

                  "smForums": "hide"

                }

              }
          headers: {}
    delete:
      description: Delete a branding policy
      summary: deleteOrganizationBrandingPolicy
      tags:
      - Dashboard branding policies
      operationId: deleteOrganizationBrandingPolicy
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: brandingPolicyId
        in: path
        required: true
        type: string
      responses:
        204:
          description: Successful operation
          headers: {}
  /organizations/{organizationId}/brandingPolicies:
    post:
      description: Add a new branding policy to an organization
      summary: createOrganizationBrandingPolicy
      tags:
      - Dashboard branding policies
      operationId: createOrganizationBrandingPolicy
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: createOrganizationBrandingPolicy
        in: body
        required: true
        schema:
          $ref: '#/definitions/createOrganizationBrandingPolicy'
      responses:
        201:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "brandingPolicyId": "456",

                "name": "My Branding Policy",

                "enabled": true,

                "adminSettings": {

                  "appliesTo": "All admins of networks...",

                  "values": [

                    "N_1234",

                    "L_5678"

                  ]

                },

                "helpSettings": {

                  "helpTab": "show",

                  "getHelpSubtab": "default or inherit",

                  "communitySubtab": "show",

                  "casesSubtab": "hide",

                  "dataProtectionRequestsSubtab": "default or inherit",

                  "getHelpSubtabKnowledgeBaseSearch": "<h1>Some custom HTML content</h1>",

                  "universalSearchKnowledgeBaseSearch": "hide",

                  "ciscoMerakiProductDocumentation": "show",

                  "supportContactInfo": "show",

                  "newFeaturesSubtab": "show",

                  "firewallInfoSubtab": "hide",

                  "apiDocsSubtab": "default or inherit",

                  "hardwareReplacementsSubtab": "hide",

                  "smForums": "hide"

                }

              }
          headers: {}
    get:
      description: List the branding policies of an organization
      summary: getOrganizationBrandingPolicies
      tags:
      - Dashboard branding policies
      operationId: getOrganizationBrandingPolicies
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "brandingPolicyId": "456",

                  "name": "My Branding Policy",

                  "enabled": true,

                  "adminSettings": {

                    "appliesTo": "All admins of networks...",

                    "values": [

                      "N_1234",

                      "L_5678"

                    ]

                  },

                  "helpSettings": {

                    "helpTab": "show",

                    "getHelpSubtab": "default or inherit",

                    "communitySubtab": "show",

                    "casesSubtab": "hide",

                    "dataProtectionRequestsSubtab": "default or inherit",

                    "getHelpSubtabKnowledgeBaseSearch": "<h1>Some custom HTML content</h1>",

                    "universalSearchKnowledgeBaseSearch": "hide",

                    "ciscoMerakiProductDocumentation": "show",

                    "supportContactInfo": "show",

                    "newFeaturesSubtab": "show",

                    "firewallInfoSubtab": "hide",

                    "apiDocsSubtab": "default or inherit",

                    "hardwareReplacementsSubtab": "hide",

                    "smForums": "hide"

                  }

                }

              ]
          headers: {}
  /organizations/{organizationId}/brandingPolicies/priorities:
    put:
      description: Update the priority ordering of an organization's branding policies.
      summary: updateOrganizationBrandingPoliciesPriorities
      tags:
      - Dashboard branding policies
      operationId: updateOrganizationBrandingPoliciesPriorities
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      - name: updateOrganizationBrandingPoliciesPriorities
        in: body
        required: true
        schema:
          $ref: '#/definitions/updateOrganizationBrandingPoliciesPriorities'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "brandingPolicyIds": [

                  "123",

                  "456",

                  "789"

                ]

              }
          headers: {}
    get:
      description: Return the branding policy IDs of an organization in priority order. IDs are ordered in ascending order of priority (IDs later in the array have higher priority).
      summary: getOrganizationBrandingPoliciesPriorities
      tags:
      - Dashboard branding policies
      operationId: getOrganizationBrandingPoliciesPriorities
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: organizationId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "brandingPolicyIds": [

                  "123",

                  "456",

                  "789"

                ]

              }
          headers: {}
  /networks/{networkId}/devices/claim:
    post:
      description: Claim devices into a network
      summary: claimNetworkDevices
      tags:
      - Devices
      operationId: claimNetworkDevices
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: claimNetworkDevices
        in: body
        required: false
        schema:
          $ref: '#/definitions/claimNetworkDevices'
      responses:
        200:
          description: Successful operation
          headers: {}
  /networks/{networkId}/devices/{serial}/blinkLeds:
    post:
      description: Blink the LEDs on a device
      summary: blinkNetworkDeviceLeds
      tags:
      - Devices
      operationId: blinkNetworkDeviceLeds
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: serial
        in: path
        required: true
        type: string
      - name: blinkNetworkDeviceLeds
        in: body
        required: false
        schema:
          $ref: '#/definitions/blinkNetworkDeviceLeds'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "sentToDevice": true

              }
          headers: {}
  /devices/{serial}/switch/ports/cycle:
    post:
      description: Cycle a set of switch ports
      summary: cycleDeviceSwitchPorts
      tags:
      - Devices
      operationId: cycleDeviceSwitchPorts
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: serial
        in: path
        required: true
        type: string
      - name: cycleDeviceSwitchPorts
        in: body
        required: true
        schema:
          $ref: '#/definitions/cycleDeviceSwitchPorts'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "ports": [

                  "1",

                  "2-5",

                  "1_MA-MOD-8X10G_1",

                  "1_MA-MOD-8X10G_2-1_MA-MOD-8X10G_8"

                ]

              }
          headers: {}
  /networks/{networkId}/devices/{serial}:
    put:
      description: Update the attributes of a device
      summary: updateNetworkDevice
      tags:
      - Devices
      operationId: updateNetworkDevice
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: serial
        in: path
        required: true
        type: string
      - name: updateNetworkDevice
        in: body
        required: false
        schema:
          $ref: '#/definitions/updateNetworkDevice'
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "name": "My AP",

                "lat": 37.4180951010362,

                "lng": -122.098531723022,

                "serial": "Q234-ABCD-5678",

                "mac": "00:11:22:33:44:55",

                "model": "MR34",

                "address": "1600 Pennsylvania Ave",

                "notes": "My AP's note",

                "lanIp": "1.2.3.4",

                "tags": " recently-added ",

                "networkId": "N_24329156",

                "beaconIdParams": {

                  "uuid": "00000000-0000-0000-0000-000000000000",

                  "major": 5,

                  "minor": 3

                },

                "firmware": "wireless-25-14",

                "floorPlanId": "g_1234567"

              }
          headers: {}
    get:
      description: Return a single device
      summary: getNetworkDevice
      tags:
      - Devices
      operationId: getNetworkDevice
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: serial
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "name": "My AP",

                "lat": 37.4180951010362,

                "lng": -122.098531723022,

                "serial": "Q234-ABCD-5678",

                "mac": "00:11:22:33:44:55",

                "model": "MR34",

                "address": "1600 Pennsylvania Ave",

                "notes": "My AP's note",

                "lanIp": "1.2.3.4",

                "tags": " recently-added ",

                "networkId": "N_24329156",

                "beaconIdParams": {

                  "uuid": "00000000-0000-0000-0000-000000000000",

                  "major": 5,

                  "minor": 3

                },

                "firmware": "wireless-25-14",

                "floorPlanId": "g_1234567"

              }
          headers: {}
  /networks/{networkId}/devices/{serial}/lossAndLatencyHistory:
    get:
      description: Get the uplink loss percentage and latency in milliseconds for a wired network device.
      summary: getNetworkDeviceLossAndLatencyHistory
      tags:
      - Devices
      operationId: getNetworkDeviceLossAndLatencyHistory
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: serial
        in: path
        required: true
        type: string
      - name: t0
        in: query
        required: false
        type: string
        description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
      - name: t1
        in: query
        required: false
        type: string
        description: The end of the timespan for the data. t1 can be a maximum of 31 days after t0.
      - name: timespan
        in: query
        required: false
        type: number
        format: double
        description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 31 days. The default is 1 day.
      - name: resolution
        in: query
        required: false
        type: integer
        format: int32
        description: 'The time resolution in seconds for returned data. The valid resolutions are: 60, 600, 3600, 86400. The default is 60.'
      - name: uplink
        in: query
        required: false
        enum:
        - wan1
        - wan2
        - cellular
        type: string
        description: The WAN uplink used to obtain the requested stats. Valid uplinks are wan1, wan2, cellular. The default is wan1.
      - name: ip
        in: query
        required: true
        type: string
        description: The destination IP used to obtain the requested stats. This is required.
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "startTime": "2018-10-09T22:18:27Z",

                  "endTime": "2018-10-09T22:19:27Z",

                  "lossPercent": 5,

                  "latencyMs": 324

                },

                {

                  "startTime": "2018-10-09T22:19:27Z",

                  "endTime": "2018-10-09T22:20:27Z",

                  "lossPercent": 1,

                  "latencyMs": 43

                },

                {

                  "startTime": "2018-10-09T22:20:27Z",

                  "endTime": "2018-10-09T22:21:27Z",

                  "lossPercent": 0,

                  "latencyMs": 44

                }

              ]
          headers: {}
  /networks/{networkId}/devices:
    get:
      description: List the devices in a network
      summary: getNetworkDevices
      tags:
      - Devices
      operationId: getNetworkDevices
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              [

                {

                  "name": "My AP",

                  "lat": 37.4180951010362,

                  "lng": -122.098531723022,

                  "serial": "Q234-ABCD-5678",

                  "mac": "00:11:22:33:44:55",

                  "model": "MR34",

                  "address": "1600 Pennsylvania Ave",

                  "notes": "My AP's note",

                  "lanIp": "1.2.3.4",

                  "tags": " recently-added ",

                  "networkId": "N_24329156",

                  "beaconIdParams": {

                    "uuid": "00000000-0000-0000-0000-000000000000",

                    "major": 5,

                    "minor": 3

                  },

                  "firmware": "wireless-25-14",

                  "floorPlanId": "g_1234567"

                }

              ]
          headers: {}
  /networks/{networkId}/devices/{serial}/lldp_cdp:
    get:
      description: List LLDP and CDP information for a device
      summary: getNetworkDeviceLldp_cdp
      tags:
      - Devices
      operationId: getNetworkDeviceLldp_cdp
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: serial
        in: path
        required: true
        type: string
      - name: timespan
        in: query
        required: false
        type: integer
        format: int32
        description: The timespan for which LLDP and CDP information will be fetched. Must be in seconds and less than or equal to a month (2592000 seconds). LLDP and CDP information is sent to the Meraki dashboard every 10 minutes. In instances where this LLDP and CDP information matches an existing entry in the Meraki dashboard, the data is updated once every two hours. Meraki recommends querying LLDP and CDP information at an interval slightly greater than two hours, to ensure that unchanged CDP / LLDP information can be queried consistently.
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "sourceMac": "00:11:22:33:44:55",

                "ports": {

                  "8": {

                    "cdp": {

                      "deviceId": "e0553d8cdf53",

                      "portId": "Port 10",

                      "address": "00:11:22:33:44:55",

                      "sourcePort": "8"

                    }

                  },

                  "12": {

                    "cdp": {

                      "deviceId": "e0553d8cdf53",

                      "portId": "Port 11",

                      "address": "00:11:22:33:44:55",

                      "sourcePort": "12"

                    },

                    "lldp": {

                      "systemName": "Meraki MS350-24X - Phineas",

                      "portId": "11",

                      "managementAddress": "00:11:22:33:44:55",

                      "sourcePort": "12"

                    }

                  }

                }

              }
          headers: {}
  /networks/{networkId}/devices/{serial}/performance:
    get:
      description: Return the performance score for a single device. Only primary MX devices supported. If no data is available, a 204 error code is returned.
      summary: getNetworkDevicePerformance
      tags:
      - Devices
      operationId: getNetworkDevicePerformance
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: serial
        in: path
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: object
          examples:
            text/plain: >-
              {

                "perfScore": 10

              }
          headers: {}
  /networks/{networkId}/devices/{serial}/uplink:
    get:
      description: Return the uplink information for a device.
      summary: getNetworkDeviceUplink
      tags:
      - Devices
      operationId: getNetworkDeviceUplink
      deprecated: false
      produces:
      - application/json
      parameters:
      - name: networkId
        in: path
        required: true
        type: string
      - name: serial
        in: path
        required: true
        type: string
      responses:
        200:
[...]
